<div>
  <p>Thank you for registering with us.</p>
  <p></p>
  <p>
    Click
    <a href="<%= @url %>">
      here
    </a>
    to verify your email address and login.
  </p>
  <p></p>
  <p>Best regards,</p>
  <p><b>Nimble</b></p>
</div>