<div>
  <p>Your report scraping is failed.</p>
  <p></p>
  <p>
    Please wait for a few minutes and
    <a href="<%= @url %>">
      retry
    </a>
    again.
  </p>
  <p></p>
  <p>Best regards,</p>
  <p><b>Nimble</b></p>
</div>