<div>
  <p>Your report scraping is done.</p>
  <p></p>
  <p>
    Click
    <a href="<%= @url %>">
      here
    </a>
    to view the result.
  </p>
  <p></p>
  <p>Best regards,</p>
  <p><b>Nimble</b></p>
</div>